{% extends 'base.html.twig' %}


{% block body %}

<nav class="navbar navbar-expand-lg">
	<div class="container">
	<span class="navbar-text navbar__subnav">
      <img src="assets/price_tag.png" class="img-rsponsive mr-1">Gratis Ebook 9 Cara Cerdas Menggunankan domain [x]
    </span>
	  <div class="collapse navbar-collapse">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item">
	        <a class="nav-link disabled navbar__subnav" href="#"><i class="fa fa-phone" aria-hidden="true"></i> 0274-5305505</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled navbar__subnav" href="#"><i class="fa fa-comments"></i> Live Chat</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled navbar__subnav" href="#"><i class="fa fa-user-circle"></i> Member Area</a>
	      </li>
	    </ul>
	  </div>
	</div>
</nav>
<hr>
<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container">
	<span class="navbar-text navbar__subnav">
      <img src="assets/niagahoster.png" class="img-responsive mr-1">
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
	  <div class="collapse navbar-collapse" id="navbarToggle">
	    <ul class="navbar-nav ml-auto">
	      <li class="navbar__nav-item  nav-item">
	        <a class="navbar__nav-link nav-link" href="#">Hosting</a>
	      </li>
	      <li class="navbar__nav-item nav-item">
	        <a class="navbar__nav-link nav-link" href="#">Domain</a>
	      </li>
	      <li class="navbar__nav-item nav-item">
	        <a class="navbar__nav-link nav-link" href="#">Server</a>
	      </li>
	      <li class="navbar__nav-item  nav-item">
	        <a class="navbar__nav-link nav-link" href="#">Website</a>
	      </li>
	      <li class="navbar__nav-item nav-item">
	        <a class="navbar__nav-link nav-link" href="#">Afiliasi</a>
	      </li>
	      <li class="navbar__nav-item  nav-item">
	        <a class="navbar__nav-link nav-link" href="#">Promo</a>
	      </li>
	      <li class="navbar__nav-link  nav-item">
	        <a class="navbar__nav-link nav-link" href="#">Pembayaran</a>
	      </li>
	      <li class="navbar__nav-item nav-item">
	        <a class="navbar__nav-link nav-link" href="#">Review</a>
	      </li>
	      <li class="navbar__nav-item nav-item">
	        <a class="navbar__nav-link nav-link" href="#">Kontak</a>
	      </li>
	      <li class="navbar__nav-item nav-item">
	        <a class="navbar__nav-link nav-link" href="#">Blog</a>
	      </li>
	    </ul>
	  </div>
	</div>
</nav>
<hr>
<section class="section">
  <div class="container">
  	<div class="row">
	  	<div class="col-lg-6">
	  		<h1 class="php-text">PHP Hosting</h1>
	  		<h3 class="php-description">
	  			Cepat, handal, penuh dengan modul PHP yang anda butuhkan
	  		</h3>
	  		<h5 class="php-list">
	  			<i class="fa fa-check-circle fa-check-custom" aria-hidden="true"></i> Solusi PHP untuk performa query yang lebih cepat.
	  		</h5>
	  		<h5 class="php-list">
	  			<i class="fa fa-check-circle fa-check-custom" aria-hidden="true"></i> Konsumsi memory yang lebih rendah.
	  		</h5>
	  		<h5 class="php-list">
	  			<i class="fa fa-check-circle fa-check-custom" aria-hidden="true"></i> Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7
	  		</h5>
	  		<h5 class="php-list">
	  			<i class="fa fa-check-circle fa-check-custom" aria-hidden="true"></i> Fitur enkripsi IonCube dan Zend Guard Loaders
	  		</h5>
	  	</div>
	  	<div class="col-lg-6">
	  		<img src="assets/svg/illustration banner PHP hosting-01.svg" class="img-responsive">
	  	</div>
	</div>
  </div>
</section>
<hr>
<section class="section">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-4">
  			<img src="assets/svg/icon PHP Hosting_zendguard.svg" class="img-responsive mx-auto d-block img-custom">
  			<p class="text-zendguard text-center">PHP Zend Guard Loader</p>
  		</div>
   		<div class="col-lg-4">
   			<img src="assets/svg/icon PHP Hosting_composer.svg" class="img-responsive mx-auto d-block">
   			<p class="php-list mt-3 text-center">PHP Composer</p>
  		</div>
   		<div class="col-lg-4">
  			<img src="assets/svg/icon PHP Hosting_ioncube.svg" class="img-responsive mx-auto d-block img-custom-ioncube">
  			<p class="php-list text-zendguard text-center">PHP ionCube Loader</p>
  		</div>
  	</div>
  </div>
 </section>
 <section class="section">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-12">
  			<h1 class="text-center text-hosting">Paket Hosting Singapura yang Tepat</h1>
  			<h1 class="text-center text-hosting description">Diskon 40% Domain dan SSL Gratis untuk Anda</h1>
  		</div>
  	</div>
  </div>
 </section>
 <section class="package">
 	<div class="container">
 		<div class="row">
	 		<div class="col-lg-3 nopadding">
				<div class="card mt-4">
					  <ul class="list-group list-group-flush text-center">
					    <li class="list-group-item package-title bayi">Bayi</li>
					    <li class="list-group-item package-price bayi">
					    	<span id="price-bayi-nonediscount">Rp {{ data['price_bayi']['none_discount'] }}</span>
					    	<div class="section-price"><label class="price-value-rp">Rp</label> <label class="price-value" id="price-bayi-discount">{{ price_bayi[0] }}</label><label class="price-value-sec" id="price-bayi-discount-sec">.{{ price_bayi[1] }}/ bln</label></div>
						</li>
					    <li class="list-group-item package-user bayi"><span class="font-weight-bold">938</span> Pengguna Terdaftar</li>
						<li class="list-group-item package-feature">
							<label class="package-power">0.5X RESOURCE POWER</label><br>
							<label class="package-text-unlimited">500 MB</label> Disk Space <br>
							<label class="package-text-unlimited">Unlimited</label> Bandwith <br>
							<label class="package-text-unlimited">Unlimited</label> Databases <br>
							<label class="package-text-unlimited">1</label> Domain <br>
							<label class="package-text-unlimited">Instant</label> Backup <br>
							<label class="package-text-unlimited">Unlimited SSL</label> Gratis Selamanya <br>
							<button class="btn btn-outline-secondary btn-package-all mt-3 mb-3">Pilih Sekarang</button>
						</li>
					  </ul>
				</div>
			</div>
			<div class="col-lg-3 nopadding">
				<div class="card mt-4">
					  <ul class="list-group list-group-flush text-center">
					    <li class="list-group-item package-title bayi">Pelajar</li>
					    <li class="list-group-item package-price bayi">
					    	<span id="price-pelajar-nonediscount">Rp {{ data['price_pelajar']['none_discount'] }}</span>
					    	<div class="section-price"><label class="price-value-rp">Rp</label> <label class="price-value" id="price-pelajar-discount">{{ price_pelajar[0] }}</label><label class="price-value-sec" id="price-pelajar-discount-sec">.{{ price_pelajar[1] }}/ bln</label></div>
						</li>
					    <li class="list-group-item package-user bayi"><span class="font-weight-bold">41.168</span> Pengguna Terdaftar</li>
						<li class="list-group-item package-feature">
							<label class="package-power">1X RESOURCE POWER</label><br>
							<label class="package-text-unlimited">Unlimited</label> Disk Space <br>
							<label class="package-text-unlimited">Unlimited</label> Bandwith <br>
							<label class="package-text-unlimited">Unlimited</label> POP3 Email <br>
							<label class="package-text-unlimited">Unlimited</label> Databases <br>
							<label class="package-text-unlimited">10</label> Addon Domains <br>
							<label class="package-text-unlimited">Instant</label> Backup <br>
							<label class="package-text-unlimited">Domain Gratis</label> Selamanya <br>
							<label class="package-text-unlimited">Unlimited SSL</label> Gratis Selamanya <br>
							<button class="btn btn-outline-secondary btn-package-all mt-3 mb-3">Pilih Sekarang</button>
						</li>
					  </ul>
				</div>
			</div>
			<div class="col-lg-3 nopadding">
				<div class="card card-personal mt-4">
					<img src="assets/best_seller.png" class="img-responsive best-seller" width="100" height="100">
					  <ul class="list-group list-group-flush text-center">
					    <li class="list-group-item package-title personal">Personal</li>
					    <li class="list-group-item package-price personal">
					    	<span id="price-personal-nonediscount">Rp {{ data['price_personal']['none_discount'] }}</span>
					    	<div class="section-price"><label class="price-value-rp">Rp</label> <label class="price-value" id="price-personal-discount">{{ price_personal[0] }}</label><label class="price-value-sec" id="price-personal-discount-sec">.{{ price_personal[1] }}/ bln</label></div>
						</li>
					    <li class="list-group-item package-user personal"><span class="font-weight-bold">10.017</span> Pengguna Terdaftar</li>
						<li class="list-group-item package-feature">
							<label class="package-power">2X RESOURCE POWER</label><br>
							<label class="package-text-unlimited">Unlimited</label> Disk Space <br>
							<label class="package-text-unlimited">Unlimited</label> Bandwith <br>
							<label class="package-text-unlimited">Unlimited</label> POP3 Email <br>
							<label class="package-text-unlimited">Unlimited</label> Databases <br>
							<label class="package-text-unlimited">Unlimited</label> Addon Domains <br>
							<label class="package-text-unlimited">Instant</label> Backup <br>
							<label class="package-text-unlimited">Domain Gratis</label> Selamanya <br>
							<label class="package-text-unlimited">Unlimited SSL</label> Gratis Selamanya <br>
							<label class="package-text-unlimited">Private</label> Name Server <br>
							<label class="package-text-unlimited">SpamAssasin</label> Mail Protection <br>
							<button class="btn btn-primary btn-package mt-3 mb-3">Pilih Sekarang</button>
						</li>
					  </ul>
				</div>
			</div>
			<div class="col-lg-3 nopadding">
				<div class="card mt-4">
					  <ul class="list-group list-group-flush text-center">
					    <li class="list-group-item package-title bayi">Bisnis</li>
					    <li class="list-group-item package-price bayi">
					    	<span id="price-bisnis-nonediscount">Rp {{ data['price_bisnis']['none_discount'] }}</span>
					    	<div class="section-price"><label class="price-value-rp">Rp</label> <label class="price-value" id="price-bisnis-discount">{{ price_bisnis[0] }}</label><label class="price-value-sec" id="price-bisnis-discount-sec">.{{ price_bisnis[1] }}/ bln</label></div>
						</li>
					    <li class="list-group-item package-user bayi"><span class="font-weight-bold">3.552</span> Pengguna Terdaftar</li>
						<li class="list-group-item package-feature">
							<label class="package-power">3X RESOURCE POWER</label><br>
							<label class="package-text-unlimited">Unlimited</label> Disk Space <br>
							<label class="package-text-unlimited">Unlimited</label> Bandwith <br>
							<label class="package-text-unlimited">Unlimited</label> POP3 Email <br>
							<label class="package-text-unlimited">Unlimited</label> Databases <br>
							<label class="package-text-unlimited">Unlimited</label> Addon Domains <br>
							<label class="package-text-unlimited">Instant</label> Backup Restore <br>
							<label class="package-text-unlimited">Domain Gratis</label> Selamanya <br>
							<label class="package-text-unlimited">Unlimited SSL</label> Gratis Selamanya <br>
							<label class="package-text-unlimited">Private</label> Name Server <br>
							<label class="package-text-unlimited">Prioritas</label> Layanan Support <br>
							<label class="package-text-unlimited">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
							</label> <br>
							<label class="package-text-unlimited">SpamExpert</label> Pro Mail Protection <br>
							<button class="btn btn-outline-secondary btn-package-all mt-3 mb-3">Diskon 40%</button>
						</li>
					  </ul>
				</div>
			</div>
		</div>
	</div>
 </section>
 <section class="php-feature">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-12">
  			<h1 class="text-center text-php-feature mt-5">Powerfull dengan Limit PHP yang Lebih Besar</h1>
  		</div>
  	</div>
  </div>
 </section>
  <section class="php-feature-table">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-6">
			<table class="table table-bordered mt-4">
			  <tbody>
			    <tr>
			      <td><i class="fa fa-check-circle fa-check-custom fa-2x" aria-hidden="true" size="40px"></i> <span class="php-table-list"> max execution time 300s</span></td>
			    </tr>
			    <tr>
			      <td class="second-table"><i class="fa fa-check-circle fa-check-custom fa-2x" aria-hidden="true"></i> <span class="php-table-list"> max execution time 300s</span></td>
			    </tr>
			    <tr>
			      <td><i class="fa fa-check-circle fa-check-custom fa-2x" aria-hidden="true"></i><span class="php-table-list"> php memory limit 1024MB</span></td>
			    </tr>
			  </tbody>
			</table>
  		</div>
   		<div class="col-lg-6">
			<table class="table table-bordered mt-4">
			  <tbody>
			    <tr>
			      <td><i class="fa fa-check-circle fa-check-custom fa-2x" aria-hidden="true"></i> <span class="php-table-list"> post max size 128 MB</span></td>
			    </tr>
			    <tr>
			      <td class="second-table"><i class="fa fa-check-circle fa-check-custom fa-2x" aria-hidden="true"></i> <span class="php-table-list"> upload max filesize 128 MB</span></td>
			    </tr>
			    <tr>
			      <td><i class="fa fa-check-circle fa-check-custom fa-2x" aria-hidden="true"></i> 
			      	<span class="php-table-list"> max input vars 2500S</span></td>
			    </tr>
			  </tbody>
			</table>
  		</div>
  	</div>
  </div>
 </section>
  <section class="php-feature">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-12">
  			<h1 class="text-center text-php-feature mt-5">Semua Paket Hosting Sudah Termasuk </h1>
  		</div>
  	</div>
  </div>
 </section>
  <section class="section-php-feature">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-4 text-center mt-5">
  			<img src="assets/svg/icon PHP Hosting_PHP Semua Versi.svg" width="70" height="70"><br>
  			<label class="text-center font-weight-bold php-feature-list">PHP Semua Versi</label>
  			<label class="php-feature-description">Pilih mulai dari versi PHP 5.3 s/d PHP 7.</label>
  			<label class="php-feature-description">Ubah sesuka Anda!</label>
  		</div>
  		<div class="col-lg-4 text-center mt-5">
  			<img src="assets/svg/icon PHP Hosting_My SQL.svg" width="70" height="70"><br>
  			<label class="text-center font-weight-bold php-feature-list">MySQL Versi 5.6</label>
  			<label class="php-feature-description">Nikmati MySQL versi terbaru, tercepat dan</label>
 			<label class="php-feature-description">kaya akan fitur.</label>
  		</div>
  		<div class="col-lg-4 text-center mt-5">
  			<img src="assets/svg/icon PHP Hosting_CPanel.svg" width="70" height="70"><br>
  			<label class="text-center font-weight-bold php-feature-list">Panel Hosting cPanel</label>
  			<label class="php-feature-description">Kelola website dengan panel canggih yang</label>
  			<label class="php-feature-description">familiar di hati Anda.</label>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-lg-4 text-center mt-5">
  			<img src="assets/svg/icon PHP Hosting_garansi uptime.svg" width="70" height="70"><br>
  			<label class="text-center font-weight-bold php-feature-list">Garansi Uptime 99.9%</label>
  			<label class="php-feature-description">Data center yang mendukung kelangsungan</label>
  			<label class="php-feature-description">website Anda 24/7.</label>
  		</div>
  		<div class="col-lg-4 text-center mt-5">
  			<img src="assets/svg/icon PHP Hosting_InnoDB.svg" width="70" height="70"><br>
  			<label class="text-center font-weight-bold php-feature-list">Database InnoDB Unlimited</label>
  			<label class="php-feature-description">Jumlah dan ukuran database yang tumbuh</label>
  			<label class="php-feature-description">sesuai kebutuhan Anda.</label>
  		</div>
  		<div class="col-lg-4 text-center mt-5">
  			<img src="assets/svg/icon PHP Hosting_My SQL remote.svg" width="70" height="70"><br>
  			<label class="text-center font-weight-bold php-feature-list">Wildcard Remote MySQL</label>
  			<label class="php-feature-description">Mendukung s/d 25 max_user_connections</label>
  			<label class="php-feature-description">dan 100 max_conections.</label>
  		</div>
  	</div>
  </div>
 </section>
  <section class="php-feature">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-12">
  			<h1 class="text-center text-php-feature mt-5">Mendukung Penuh Framewrok Laravel </h1>
  		</div>
  	</div>
  </div>
 </section>
<section class="section">
  <div class="container">
  	<div class="row">
	  	<div class="col-lg-6">
	  		<h3 class="php-laravel-text">
	  			Tak perlu menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP hosting murah kami mendukung penuh framework favorit Anda
	  		</h3>
	  		<h5 class="laravel-list">
	  			<i class="fa fa-check-circle fa-check-custom" aria-hidden="true"></i> Install Laravel <span class="font-weight-bold">1 klik</span> dengan Softaculous Installer.
	  		</h5>
	  		<h5 class="laravel-list">
	  			<i class="fa fa-check-circle fa-check-custom" aria-hidden="true"></i> Mendukung ekstensi <span class="font-weight-bold">PHP MCrypt, phar, mbstring, json, </span> dan <span class="font-weight-bold">fileinfo.</span>
	  		</h5>
	  		<h5 class="laravel-list">
	  			<i class="fa fa-check-circle fa-check-custom" aria-hidden="true"></i> Tersedia <span class="font-weight-bold"> Composer </span> dan <span class="font-weight-bold">SSH</span> untuk menginstal packages pilihan Anda.
	  		</h5>
	  		<h5 class="laravel-list-notes">
	  			Nb. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis
	  		</h5>
			<button class="btn btn-primary btn-package mt-3">Pilih Hosting Anda</button>
	  	</div>
	  	<div class="col-lg-6">
	  		<img src="assets/svg/illustration banner support laravel hosting.svg" class="img-responsive">
	  	</div>
	</div>
  </div>
  <hr>
</section>
 <section class="php-feature">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-12">
  			<h1 class="text-center text-php-feature">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda. </h1>
  		</div>
  	</div>
  </div>
 </section>
  <section class="section-php-feature">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-3 col-md-6 col-sm-12 text-left mt-5">
  			<label>IcePHP</label><br>
  			<label>apc</label><br>
  			<label>apcu</label><br>
  			<label>apm</label><br>
  			<label>ares</label><br>
  			<label>bcmath</label><br>
  			<label>bcompiler</label><br>
  			<label>big_int</label><br>
  			<label>bitset</label><br>
  			<label>bloomy</label><br>
  			<label>bz2_filter</label><br>
  			<label>clamav</label><br>
  			<label>coin_acceptor</label><br>
  			<label>crack</label><br>
  			<label>dba</label><br>
  		</div>
  		<div class="col-lg-3 col-md-6 col-sm-12 text-left mt-5">
  			<label>http</label><br>
  			<label>huffman</label><br>
  			<label>idn</label><br>
  			<label>igbinary</label><br>
  			<label>imagick</label><br>
  			<label>imap</label><br>
  			<label>inclued</label><br>
  			<label>inotify</label><br>
  			<label>interbase</label><br>
  			<label>intl</label><br>
  			<label>ioncube_loader</label><br>
  			<label>ioncube_loader_4</label><br>
  			<label>jsmin</label><br>
  			<label>json</label><br>
  			<label>Idap</label><br>
  		</div>
  		<div class="col-lg-3 col-md-6 col-sm-12 text-left mt-5">
  			<label>nd_pdo_mysql</label><br>
  			<label>oauth</label><br>
  			<label>oci8</label><br>
  			<label>odbc</label><br>
  			<label>opcache</label><br>
  			<label>pdf</label><br>
  			<label>pdo</label><br>
  			<label>pdo_dblib</label><br>
  			<label>pdo_firebird</label><br>
  			<label>pdo_mysql</label><br>
  			<label>pdo_odbc</label><br>
  			<label>pdo_pgsql</label><br>
  			<label>pdo_sqlite</label><br>
  			<label>pgsql</label><br>
  			<label>phalcon</label><br>
  		</div>
  		<div class="col-lg-3 col-md-6 col-sm-12 text-left mt-5">
  			<label>stats</label><br>
  			<label>stem</label><br>
  			<label>stomp</label><br>
  			<label>suhosin</label><br>
  			<label>sybase_ct</label><br>
  			<label>sysvmsg</label><br>
  			<label>sysvsem</label><br>
  			<label>sysvshm</label><br>
  			<label>tidy</label><br>
  			<label>timezonedb</label><br>
  			<label>trader</label><br>
  			<label>translit</label><br>
  			<label>uploadprogress</label><br>
  			<label>uri_template</label><br>
  			<label>uuid</label><br>
  		</div>
  	</div>
  </div>
 </section>
 <section class="php-feature">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-12 text-center">
			<button class="btn btn-outline-secondary btn-package-all mt-3 mb-3">Selengkapnya</button>
  		</div>
  	</div>
  </div>
 </section>
<section class="section">
  <div class="container">
  	<div class="row">
	  	<div class="col-lg-6">
	  		<h1 class="text-linux mb-4">
	  			Linux Hosting yang Stabil dengan teknologi LVE
	  		</h1>
	  		<h5 class="laravel-list">
	  			SuperMicro <span class="font-weight-bold">Intel Xeon 24-Cores</span> server dengan RAM <span class="font-weight-bold">128 GB</span> dan teknologi <span class="font-weight-bold">LVE CloudLinux</span> untuk stabilitas server Anda. dilengkapi dengan <span class="font-weight-bold">SSD</span> untuk kecepatan <span class="font-weight-bold">MySQL</span> dan caching, Apache load balancer berbasis LiteSpeed Technologies, <span class="font-weight-bold">CageFS</span> Security, <span class="font-weight-bold">Raid-10</span> protection dan auto backup untuk keamanan website PHP anda.
	  		</h5>
	  		
			<button class="btn btn-primary btn-package mt-3">Pilih Hosting Anda</button>
	  	</div>
	  	<div class="col-lg-6">
	  		<img src="assets/Image support.png" class="img-responsive">
	  	</div>
	</div>
  </div>
</section>
<section class="social-media d-flex">
	<div class="container align-self-center">
		<div class="row ">
			<div class="col-lg-6">
				<label class="text-social-media font-weight-bold">Bagikan jika Anda menyukai halaman ini.</label>
			</div>
			<div class="col-lg-6">
					<img src="assets/fb.png" width="30" height="30" class="img-responsive">
					<button class="btn btn-outline-secondary btn-followers">80k</button>
					<img src="assets/twitter.png" width="30" height="30" class="img-responsive">
					<button class="btn btn-outline-secondary btn-followers">450</button>
					<img src="assets/google.png" width="30" height="30" class="img-responsive">
					<button class="btn btn-outline-secondary btn-followers">1900</button>
			</div>
		</div>
	</div>
</section>
<section class="contact-us d-flex">
	<div class="container align-self-center">
		<div class="row ">
			<div class="col-lg-8 col-md-12">
				<label class="text-contact-us mt-2">Perlu <span class="font-weight-bold"> Bantuan? </span> Hubungi Kami :  <span class="font-weight-bold">0274-5305505</span></label>
			</div>
			<div class="col-lg-2 text-center col-md-12">
				<label class="text-contact-us">|</label>
			</div>
			<div class="col-lg-2 col-md-12 mb-3">
				<button class="btn btn-outline-secondary btn-livechat font-weight-bold"><i class="fa fa-comments mr-4 fa-2x"></i> Live Chat</button>
			</div>
		</div>
	</div>
</section>
<section class="section-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<label class="mt-5 footer-title">HUBUNGI KAMI</label><br>
				<label class="mt-3 footer-list">0274-5305505</label><br>
				<label class="footer-list">Senin - Minggu</label><br>
				<label class="footer-list">24 Jam Nonstop</label><br>
				<label class="mt-3 footer-list">Jl. Selokan Mataram Monjali</label><br>
				<label class="footer-list">Karangjati MT I/304</label><br>
				<label class="footer-list">Sinduadi, Mlati, Sleman</label><br>
				<label class="footer-list">Yogyakarta 55284</label><br>
			</div>
			<div class="col-lg-3 col-md-6">
				<label class="mt-5 footer-title">LAYANAN</label><br>
				<label class="mt-3 footer-list">Domain</label><br>
				<label class="footer-list">Shared Hosting</label><br>
				<label class="footer-list">Cloud VPS Hosting</label><br>
				<label class="footer-list">Managed VPS Hosting</label><br>
				<label class="footer-list">Web Builder</label><br>
				<label class="footer-list">Keamanan SSL / HTTPS</label><br>
				<label class="footer-list">Jasa Pembuatan Website</label><br>
				<label class="footer-list">Program Affiliasi</label><br>
			</div>
			<div class="col-lg-3 col-md-6">
				<label class="mt-5 footer-title">SERVICE HOSTING</label><br>
				<label class="mt-3 footer-list">Hosting Murah</label><br>
				<label class="footer-list">Hosting Indonesia</label><br>
				<label class="footer-list">Hosting Singapura SG</label><br>
				<label class="footer-list">Hosting PHP</label><br>
				<label class="footer-list">Hosting Wordpress</label><br>
				<label class="footer-list">Hosting Laravel</label><br>
			</div>
			<div class="col-lg-3 col-md-6">
				<label class="mt-5 footer-title">TUTORIAL</label><br>
				<label class="mt-3 footer-list">Knowledgebase</label><br>
				<label class="footer-list">Blog</label><br>
				<label class="footer-list">Cara Pembayaran</label><br>
			</div>
		</div>
	</div>
</section>
<section class="section-footer">
	<div class="container">
		<div class="row ">
			<div class="col-lg-3 col-md-6">
				<label class="mt-5 footer-title">TENTANG KAMI</label><br>
				<label class="mt-3 footer-list">Tim Niagahoster</label><br>
				<label class="footer-list">Karir</label><br>
				<label class="footer-list">Events</label><br>
				<label class="footer-list">Penawaran & Promo Spesial</label><br>
				<label class="footer-list">Kontak Kami</label><br>
			</div>
			<div class="col-lg-3 col-md-6">
				<label class="mt-5 footer-title">KENAPA PILIH NIAGAHOSTER?</label><br>
				<label class="mt-3 footer-list">Support Terbaik</label><br>
				<label class="footer-list">Garansi Harga Termurah</label><br>
				<label class="footer-list">Domain Gratis Selamanya</label><br>
				<label class="footer-list">Datacenter Hosting Terbaik</label><br>
				<label class="footer-list">Review Pelanggan</label><br>
			</div>
			<div class="col-lg-3 col-md-6">
				<label class="mt-5 footer-title">NEWSLETTER</label><br>
				  <input type="text" class="form-control footer-newsletter" placeholder="Email">
				    <button class="btn btn-primary btn-subscribe">Berlangganan</button>
				    <label class="text-newsletter mt-2">Dapatkan promo dan konten menarik dari penyedia hosting terbaik Anda.</label>
			</div>
			<div class="col-lg-3 col-md-6">
				<img src="assets/fb_square.png" class="img-responsive footer-social-media">
				<img src="assets/twitter_square.png" class="img-responsive footer-social-media ml-3">
				<img src="assets/google_square.png" class="img-responsive footer-social-media ml-3">
			</div>
			<div class="col-lg-12">
				<label class="mt-5 footer-title">PEMBAYARAN</label><br>
				<img src="assets/bca.png" class="img-responsive mt-2">
				<img src="assets/mandiri.png" class="img-responsive mt-2">
				<img src="assets/bni.png" class="img-responsive mt-2">
				<img src="assets/visa.png" class="img-responsive mt-2">
				<img src="assets/master_card.png" class="img-responsive mt-2">
				<img src="assets/atm_bersama.png" class="img-responsive mt-2">
				<img src="assets/permata_bank.png" class="img-responsive mt-2">
				<img src="assets/prima.png" class="img-responsive mt-2">
				<img src="assets/alto.png" class="img-responsive mt-2">
				<label class="text-newsletter mt-2">Aktivasi instan dengan e-Payment. Hosting dan domain langsung aktif!</label>
				<hr class="mt-3">
				<label class="text-copyright mt-2">Copyright &copy;2016 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and DC Biznet Technovillage Jakarta <br> Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing techology</label>
				<label class="text-copyright mt-2 pull-right">Syarat dan Ketentuan | Kebijakan Privasi</label>
			</div>
		</div>
	</div>
</section>

{% endblock %}